html, body{
    height: 100%;
}

body{
    font: 15px/1.5 Arial, Helvetica,sans-serif;
    padding:0;
    margin:0;
    background-color:#f4f4f4;
    margin-bottom: 100px;
}

/* Global */
.container{
    width:80%;
    margin:auto;
    overflow:hidden;
}

#container{
    min-height: 100%;
    padding-bottom: 50px;
}

nav a.current {
    color:#2ECCFA;
}



ul{
    margin:0;
    padding:0;
}

.button_1{
    height:38px;
    background:#2ECCFA;
    border:0;
    padding-left: 20px;
    padding-right:20px;
    color:#ffffff;
}

.dark{
    padding:15px;
    background:#35424a;
    color:#ffffff;
    margin-top:10px;
    margin-bottom:10px;
}

.wrapper{
    font-family: Helvetica;
    margin: 0 auto;
    padding: 10px;
}

.tab{
    border-color: transparent;
    font-size: 20px;
    background: #35424a;
    color: #ffffff;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.2s;
}

.tab:focus{
    outline: none;
}

.tabs{
    display:flex;
}

.content{
    display: block;
}

/* Header **/
header{
    background:#35424a;
    color:#ffffff;
    padding-top:30px;
    min-height:70px;
    border-bottom:#2ECCFA 3px solid;
}

header a{
    color:#ffffff;
    text-decoration:none;
    text-transform: uppercase;
    font-size:16px;
}

img.center {
    display: block;
    margin: 0 auto;
}

header li{
    float:left;
    display:inline;
    padding: 0 20px 0 20px;
}

header #branding h1{
    margin:0;
}

header nav{
    float:right;
    margin-top:10px;
}

header .highlight, header .current a{
    color:#2ECCFA;
    font-weight:bold;
}

header a:hover{
    color:#cccccc;
    font-weight:bold;
}

.createProfilebtn {
    background-color: #35424a;
    width: 150px;
    color: white;
    padding: 12px;
    font-size: 13px;
    border: none;
}

.addTagbtn {
    background-color: #35424a;
    width: 80px;
    color: white;
    padding: 12px;
    font-size: 12px;
    border: none;
}

/* Dropdown Button */
.dropbtn {
    background-color: #35424a;
    width: 310px;
    color: white;
    padding: 12px;
    font-size: 13px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content label {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content label:hover {background-color: #ddd}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #2ECCFA;
    color: black;
}

input[type=text]{
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=text]:focus{
    border: 3px solid #35424a;
}

/*the container must be positioned relative:*/
.custom-select {
    position: relative;
    font-family: Arial;
    color: white;
}

.custom-select select {
    display: none; /*hide original SELECT element:*/
}

.select-selected {
    background-color: grey;
}
/*style the arrow inside the select element:*/
.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}
/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}
/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
}
/*style items (options):*/
.select-items {
    position: absolute;
    background-color: #35424a;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}
/*hide the items when the select box is closed:*/
.select-hide {
    display: none;
}
.select-items div:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

/* Two columns */
#left{
    width: 330px;
    float: left;
    margin-left:20px;
}

#right{
    width: auto;
    margin-left: 330px;
}

.clear{
    clear: both;
}

/* News cards style */
.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 2px 16px;
}

.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

footer{
    padding:20px;
    color: #ffffff;
    background-color: #35424a;
    text-align: center;
}

#footer{
    position: relative;
    height: 30px;
    margin-top: -30px;
    clear:both;
    background-color: #35424a;
}

/* Media Queries */
@media screen and (max-width: 768px){
    header,
    header nav,
    header nav li{
        float:none;
        text-align:center;
        width:100%;
    }

    header{
        padding-bottom:20px;
    }

    #left{
        clear: both;
        width: 100%;
    }

    #right{
        clear: both;
        width: 100%;
    }
}
